<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      NFR-03: 런타임 권한 0개. INTERNET 권한도 선언하지 않는다.
      이 파일에 <uses-permission> 을 추가하려면 먼저 스펙을 고쳐야 한다.
    -->

    <application
        android:name=".PassVaultApp"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true"
        android:theme="@style/Theme.PassVault">

        <!-- SEC-08: 런처인 MainActivity 외에는 어떤 컴포넌트도 exported 하지 않는다. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PassVault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
          SEC-08: androidx.profileinstaller 가 추이 의존성으로 넣는 exported receiver 를 제거한다.
          DUMP 권한으로 보호돼 실질 위험은 낮지만, "런처 외 exported 컴포넌트 없음" 규칙을
          예외 없이 유지한다. 앱 시작 시 베이스라인 프로파일 설치는 InitializationProvider
          쪽에서 그대로 동작하므로 기능 손실은 벤치마크용 수동 브로드캐스트 경로뿐이다.
        -->
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            tools:node="remove" />
    </application>

</manifest>
